<style>
  #instafeed {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    margin: 0.5%;
    position: relative;
  }

  img {
    margin: 0 !important;
    opacity: 1;
    width: 200px;
  }

  .text-overlay {
    -ms-transform: translate(-50%, -50%);
    height: 150px;
    left: 50%;
    opacity: 0;
    overflow: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
  }

  .container:hover .text-overlay {
    opacity: 1;
  }

  .caption {
    background-color: #dee0df;
    opacity: 0.8;
    color: black;
    font-size: 10px;
    padding: 16px 32px;
  }

  #seemore {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #seemore a {
    padding: 5px;
  }
</style>
<script src="{{ site.instagram_token }}"></script>
<script src="../assets/js/instafeed.min.js"></script>
<div id="instafeed"></div>
<script type="text/javascript">
    let feed = new Instafeed({
      accessToken: InstagramToken,
      templateBoundaries: ["<%", "%>"],
      template:
        '
        <div class="container">
          <a href="<% link %>" target="_blank">
            <img title="<% caption %>" src="<% image %>" />
            <div class="text-overlay">
              <div class="caption"><% caption %></div>
            </div>
          </a>
        </div>
  ',
    });
    feed.run();
</script>

<div id="seemore">
  @chaoarchive 
  <div>
    <a href="https://www.instagram.com/chaoarchive/" target="_blank"
      ><i class="fa fa-instagram"></i
    ></a>
  </div>
</div>
